<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MyFirstAutomationProject/src/facebookoperations/Copy_OneTextValue_into_AnotherTextBox.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="facebookoperations.Copy_OneTextValue_into_AnotherTextBox"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MyFirstAutomationProject"/>
</launchConfiguration>
